@model Rooftop.WebApp.ViewModel.HouseOwnerVm
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor
@{
   
    if (accessor.HttpContext.Session.GetString("adminEmail") != null)
    {
        Layout = "~/Views/Shared/Backend/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/Fontend/_Layout.cshtml";
    }


}
@{
    var HO = accessor.HttpContext.Session.GetInt32("HouseOwnerId");
    var cuHO = Model.Id;
}
<h1 class="container py-3"> @Html.DisplayFor(model => model.Name)'s Details</h1>

<div class="container py-3">

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            <a href="mailto:@Html.DisplayFor(model => model.Email)"> @Html.DisplayFor(model => model.Email)</a>

        </dd>


    </dl>
</div>
<div class="container py-3">
    <a class="badge bg-label-success" asp-action="CreateOrEditRoofTop" asp-route-id="@Model?.Id">Edit</a>
    <a class="badge bg-label-secondary" asp-action="Index">Back to List</a>

</div>

<hr />
<h3 class="my-5 text-center">@Html.DisplayFor(model => model.Name)'s Roof Top</h3>

<div class="mt-3 container ">
    <div class="row" id="farmListings">
    </div>
    <!-- Cards will be dynamically added here -->
    @* <img src="~/img/most beautiful rooftop bars and restaurants.webp" /> *@
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
    <script>

        $(document).ready(function () {

            $.get('/farm/test/@Model?.Id', function (data) {

                $.each(data, function (index, farm) {

                    var farmcard = ` <div class="col-md-6 col-lg-3 mb-3">
                        <div class="card h-100">
                                                <img class="card-img-top" style="height:185px;object-fit:cover;
                                                " src="@Url.Content("~/img/")/${farm.image1}
                                " alt="Card image cap"/>
                        <div class="card-body">
                        <h5 class="card-title">${farm.name}</h5>
                                <div class="row mb-2">
                                                        <div class="col-6 ">  <i class="bx bxs-user"></i><span> @Html.DisplayFor(model => model.Name)</span> </div>
                                                <div class="col-6"><i class='bx bx-current-location'></i> ${farm.location}</div>
                            </div>
                        <div>
                        </div>
                        <p class="card-text">
                       ${farm.someDetail}
                        </p>
                                <a href="@Url.Action("Details", "Farm")/${farm.id}"  class="btn btn-outline-primary">show Mero</a>
        @{

            if ((HO != null && HO != 0 && HO == cuHO) || accessor.HttpContext.Session.GetString("adminEmail") != null)
            {
                                              <a href="@Url.Action("Delete", "Farm")/${farm.id}" class=" text-danger position-absolute top-0 end-0 m-2 border-0"><i class="bx bxs-trash "></i></a>
            }

        }
                        </div>
                        </div>
                        </div>`

                    $('#farmListings').append(farmcard);
                });


            });


        });

    </script>

}
