@model Rooftop.WebApp.ViewModel.FarmVm

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Backend/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FarmVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SquareFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SquareFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoogleMap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoogleMap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SomeDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SomeDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoreDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoreDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseOwners)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseOwners.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
